 <% @salaries.each do |salary| %>
      <tr>
        <td><%= salary.subtotal %></td>
        <td><%= salary.potongan %></td>
        <td><%= salary.bonus %></td>
        <td><%= salary.total %></td>
        <td><%= link_to 'Show', salary %></td>
        <td><%= link_to 'Edit', edit_salary_path(salary) %></td>
        <td><%= link_to 'Destroy', salary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>