<p id="notice"><%= notice %></p>

<p>
  <strong>Potongan:</strong>
  <%= @salary.potongan %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @salary.bonus %>
</p>

<p>
  <strong>Total:</strong>
  <%= @salary.total %>
</p>

<%= link_to 'Edit', edit_salary_path(@salary) %> |
<%= link_to 'Back', salaries_path %>
