    <% obj.each do |sale| %>
      <tr>
        <td><%= sale.pelanggan.code%></td>
        <td><%= sale.pelanggan.nama%></td>
        <td><%= sale.name %></td>
        <td><%= sale.no_kendaraan %></td>
        <td><%= sale.total_all %></td>
        <td><%= sale.montir.name %></td>
        <td><%= link_to 'Show', sale, class:'btn btn-success', style:'color:white'%></td>
        <td><%= link_to 'Edit', edit_sale_path(sale),class:'btn btn-default' %></td>
        <td>
            <%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' },
            class:'btn btn-danger', style:'color:white'%>
        </td>
      </tr>
      <tr>
      </tr>
    <% end %>