<tbody>    
    <% @sale_month.each do |sale| %>  
      <strong><%= @date %></strong>
      <hr>
      <tr>
        <div>
          <div class="container">
            <div class="row">
                <p><strong>NIP:</strong><%= sale.pelanggan.code%></p>
            </div>
            <%= sale.pelanggan.nama%>
            <%= sale.name %></td>
            <%= sale.no_kendaraan %>
            <%= sale.total_all %>
            <%= sale.montir.name %>
            <%= sale.commision %>
          </div>
        </div>
      </tr>
      <tr>
      </tr>
    <% end %>
</tbody>