  <% obj.each do |pelanggan| %>
      <tr>
        <td><%= pelanggan.code %></td>
        <td><%= pelanggan.nama %></td>
        <td><%= pelanggan.alamat %></td>
        <td><%= pelanggan.no_telp %></td>
        <td><%= link_to 'Show', pelanggan, class:'btn btn-success', style:'color:white' %></td>
        <td><%= link_to 'Edit', edit_pelanggan_path(pelanggan), class:'btn btn-default' %></td>
        <td><%= link_to 'Destroy', pelanggan, method: :delete, data: { confirm: 'Are you sure to delete this record?' },
        class:'btn btn-danger', style:'white' %></td>
      </tr>
    <% end %>
       