<div class="w3-black">
  <button class="w3-button w3-black w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
    <%= render 'templates/page_title', title:"Pelanggan Detail" %>
  </div>
</div>
  <div class="container">
    <div class="well col-md-8 col-md-offset-2">
      <p id="notice"><%= notice %></p>
      <div class="pull-left">
          <table class="center description" >
            <tbody>
              <%# Column Nomor Identitas Pelanggan sesuai KTP %>
              <tr>
                <td><strong>Nomor Identitas Pelanggan</strong></td>
                <td><%= @pelanggan.code %></td>
              </tr>

              <%# Column Nama Pelanggan %>
              <tr>
                <td><strong>Nama</strong></td>
                <td><%= @pelanggan.nama %></td>
              </tr>

              <%# Column Alamat %>
              <tr>
                <td><strong>Alamat</strong></td>
                <td><%= @pelanggan.alamat %></td>
              </tr>

              <%# Column No_telp %>
              <tr>
                <td><strong>No telp</strong></td>
                <td><%= @pelanggan.no_telp %></td>
              </tr>
            </tbody>
          </table>
      </div>
          <div class="pull-right">
            <p class="center">
                <em>Created By:</em>
            </p>
            <p class="center">
                <% if @pelanggan.montir.picture.attached? %>
                    <%= image_tag url_for(@pelanggan.montir.picture), size:'150', class:'img rounded-circle'%>
                <% else %>
                    <%= link_to gravatar_for(@pelanggan.montir), pelanggans_path%>
                <% end %>
            </p>
            <p class="center">
                <small>
                    <%= @pelanggan.montir.name.capitalize %>
                </small>
                <div class="pull-right">
                    <div class="pull-right">Created:<%= time_ago_in_words(@pelanggan.created_at)%> ago
                </div>
            </p>
          </div>
          <%# Button Edit %>
        <div class="recipe-actions">
          <% if logged_in? && (current_montir == @pelanggan.montir || current_montir.admin?) %>
            <%=   link_to 'Edit', edit_pelanggan_path(@pelanggan), class:'btn btn-info' %>
          <% end %>
            <%= link_to 'Back', pelanggans_path, class:'btn btn-default' %>
        </div>
    </div>
    
  </div>