<!DOCTYPE html>
<html>
<head>
<title>Billing</title>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
  <style>
  td, p {
      font-size:12pt;
  }
  </style>
</head>
<body>
  <div class='container'>
      <%# Detail Nomor Perbaikan %>
      <h2 style="text-align:center">Bengkel Mobil Jaya</h2>
      <p style="text-align:center">Jl.Makam Pahlawan, Km.5, <br>Tanjung Pinang, Kepulauan Riau</p>
      <br>
      <ul>
          <li style="float:right">  
              <strong>Nomor ID Service:</strong>
              <p><%= @sale.id %></p>
          </li>
          <br>
          <li>
            <h4>RECEIPT FOR CHARGE &nbsp <%= @sale.pelanggan.nama %></h4>
            <hr>
          </li>
      </ul>
    <%# Content %>
    <div class="col-md-8 col-md-offset-2">
      <%# Detail Data %>
      <table class="pull-left" >  
        <tr>
          <td><strong>NIP</strong></td>
          <td><%= @sale.pelanggan.code %></td>
        </tr>
        <tr>
          <td><strong>Detail Perbaikan</strong></td>
          <td><%= @sale.name %></td>
        </tr>
        <tr>
          <td><strong>Plat Kendaraan</strong></td>
          <td><%= @sale.no_kendaraan %></td>
        </tr>
      </table>

      <%# Rincian Penjualan %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <% @sale.items.each do |item| %>
          <tr>
            <td ><%= item.product.name %></td>
            <td><%= item.product.price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.subtotal %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <hr/>
      <%# Memunculkan Potongan Harga / Diskon %>
      <p class="pull-right">
        <p><strong>Potongan Harga:</strong></p>
        <p><%= @sale.diskon %></p>
      <%# Showing Total %>
        <p><strong>Total yang harus di bayar:</strong></p>
        <p><%= @sale.total_all %></p>
      </p>
    
      
      
      <%# Showing Montir and create at %>
      <div class="pull-right">
              <p class="center">
                  <em>Created By:</em>
              </p>
              <p class="center">
                      <%= @sale.montir.name.capitalize %>
                  <div class="pull-right">
                      <div class="pull-right">Date:<%= @sale.created_at %>
                  </div>
              </p>
      </div>
    </div>
  </div>
</body>
</html>